*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #222, #444);
}
section{
    display: flex;
    height: 600px;
    width: 450px;
}

section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
}

section img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
